body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

body {
  background-color: #e2e2e2;
}

.wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

a,
a:visited {
  color: #770000;
}

a:hover {
  color: #440000;
}

.links {
  text-align: center;
  padding: 10px;
}

.links a {
  padding: 10px;
  font-size: large;
  white-space: nowrap;
}
