@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  background-color: #e2e2e2;
}

.wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

a,
a:visited {
  color: #770000;
}

a:hover {
  color: #440000;
}